/Exercise1/nbproject/private/
/Exercise1/build/
/Exercise2/nbproject/private/
/Exercise3/nbproject/private/
/Exercise3/build/
/Exercise2/build/
/Assign1Exercise4/nbproject/private/
/Exercise4/nbproject/private/
/Exercise4/build/
/TemperatureConverterWSApplication/nbproject/private/
/TemperatureConverterWSJSPClient/nbproject/private/
/TemperatureConverterWSApplication/build/
/TemperatureConverterWSJSPClient/build/